*,
::before,
::after {
  box-sizing: border-box;
  /*取消点击高亮*/
  -webkit-tap-highlight-color: transparent;
  font-family: "微软雅黑", sans-serif;
}
input {
  /*手机端清除高亮*/
  -webkit-appearance: none;
}
body {
  width: 100%;
  background-color: #f4f4f4;
  font: 12px/1.5 "hiragino sans gb", arial;
  font-weight: normal;
}
/*头部*/
header.mu-head {
  width: 100%;
  height: 44px;
  background-color: #31c27c;
  padding: 0 10px;
}
header.mu-head i.mu-logo {
  float: left;
  height: 100%;
  width: 100px;
  background: url(../images/logo.png) center no-repeat;
  background-size: 100%;
}
header.mu-head .app-download {
  float: right;
  height: 24px;
  margin-top: 10px;
  line-height: 18px;
  font-size: 14px;
  border-radius: 44px;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
/*顶部导航*/
.mu-nav {
  width: 100%;
}
.mu-nav ul li {
  float: left;
  width: 33.33333333%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.mu-nav ul li p {
  font-size: 16px;
}
.mu-nav ul li.current {
  border-bottom: 2px solid #31c27c;
}
.mu-nav ul li.current p {
  color: #31c27c;
}
/*主体内容*/
article {
  width: 95%;
  margin: 10px auto;
  min-height: 400px;
}
article .ranking-list li {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
}
article .ranking-list li a {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}
article .ranking-list li a img {
  height: 100%;
}
article .ranking-list li a span {
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 75px;
  height: 10px;
  color: #CAA;
  line-height: 10px;
  font-size: 10px;
}
article .ranking-list li a span i {
  position: absolute;
  height: 100%;
  width: 15px;
  left: -10px;
  bottom: 0;
  background-image: url(../images/list_sprite.png);
  background-repeat: no-repeat;
  background-size: 24px 60px;
  background-position: 0 -50px;
}
article .ranking-list li .ranking-content {
  -ms-flex: 2;
  flex: 2;
  padding: 10px 28px;
  overflow: hidden;
}
article .ranking-list li .ranking-content h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
article .ranking-list li .ranking-content p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
